version: "3"

networks:
  gitea:
    external: false

volumes:
  gitea:
    driver: local

services:
  server:
    image: docker.gitea.com/gitea:latest
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__database__DB_TYPE=mysql
      - GITEA__database__HOST=db:3306
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=chiakie
      - GITEA__database__PASSWD=1qaz2wsx#EDC
    restart: always
    networks:
      - gitea
    volumes:
      - gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000" # 3000 改成你們要的 port
      - "222:22" # 222 改成你們要的 port
    depends_on:
      - db

  db:
    image: docker.io/library/mysql:8
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=1qaz2wsx#EDC
      - MYSQL_USER=chiakie
      - MYSQL_PASSWORD=1qaz2wsx#EDC
      - MYSQL_DATABASE=gitea
    networks:
      - gitea
    volumes:

      - ./mysql:/var/lib/mysql
